<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-img-wrapper">
                <img src="/img/dom 1.jpg" alt="...">
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-img-wrapper">
                <img src="/img/dom 2.jpg" alt="dom2">
            </div>
        </div>
        <!-- kolejne elementy -->
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="p-5 col-md-6 col-12 d-flex flex-column mb-md-0 mb-5">
            <div>
                <h2 class="py-3">o firmie</h2>
                Sed lacinia tempor ligula posuere sollicitudin. Integer non odio nulla.<br>
                Proin consectetur nibh ac orci commodo, quis lobortis dui iaculis.<br>
                Proin non maximus augue, eu blandit ante. In vulputate justo.
            </div>
            <div class="mt-auto align-self-end">
                <a class="btn btn-primary m-5" href="/about">Sprawdz</a>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-5 mb-md-0">
            <img src="/img/img.jpg" alt="img" class="img-fluid about-img">
        </div>

        <div class="col-md-6 col-12 mb-5 mb-md-0">
            <img src="/img/img.jpg" alt="img" class="img-fluid about-img">
        </div>
        <div class="p-5 col-md-6 col-12 d-flex flex-column mb-md-0 mb-5">
            <div>
                <h2 class="py-3">o firmie</h2>
                Sed lacinia tempor ligula posuere sollicitudin. Integer non odio nulla.<br>
                Proin consectetur nibh ac orci commodo, quis lobortis dui iaculis.<br>
                Proin non maximus augue, eu blandit ante. In vulputate justo.
            </div>
            <div class="mt-auto align-self-end">
                <a class="btn btn-primary m-5" href="/about">Sprawdz</a>
            </div>
        </div>
        <div class="p-5 col-md-6 col-12 d-flex flex-column mb-md-0 mb-5">
            <div>
                <h2 class="py-3">o firmie</h2>
                Sed lacinia tempor ligula posuere sollicitudin. Integer non odio nulla.<br>
                Proin consectetur nibh ac orci commodo, quis lobortis dui iaculis.<br>
                Proin non maximus augue, eu blandit ante. In vulputate justo.
            </div>
            <div class="mt-auto align-self-end">
                <a class="btn btn-primary m-5" href="/about">Sprawdz</a>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-5 mb-md-0">
            <img src="/img/img.jpg" alt="img" class="img-fluid about-img">
        </div>
    </div>
</div>