<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-img-wrapper">
                <img src="/img/dom 1.jpg" alt="...">
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-img-wrapper">
                <img src="/img/dom 2.jpg" alt="dom2">
            </div>
        </div>
        <!-- kolejne elementy -->
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div class="container mt-5">
    <h2>Welcome to Zeldom</h2>
    <p>This is a simple web application built with Node.js and Handlebars.</p>
    <p>Feel free to explore the different sections of the site.</p>
</div>