.carousel-img-wrapper {
  height: 100% !important;
  overflow: hidden;
}

.carousel-img-wrapper img {
  width: 100% !important;
  height: 100vh !important;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.about-img {
  background-size: cover !important;
  height: 350px !important;
  width: 350px !important;
}

.btn-link {
  color: white;
  text-decoration: none;
}
